<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Основы Vue</title>
  <link rel="stylesheet" href="theme.css"/>
</head>
<body>

<div class="container" id="app">
  <div class="card">
    <h1>План по изучению Vue.js</h1>
      {{ activeStep.text }}
    <div class="steps">
      <div class="steps-content">

      </div>
      <ul class="steps-list">
        <li v-for="(_, idx) in steps" @click="setActive(idx)"
            :class="['steps-item', {'active': activeIndex === idx, 'done': idx < activeIndex }]">
          <span>{{ idx + 1 }}</span> Шаг {{ idx + 1 }}
        </li>
      </ul>
      <div>
        <button class="btn" :disabled="isBackDisable" @click="prev">Назад</button>
        <button class="btn primary" @click="nextOrFinish" v-if="activeIndex < steps.length">{{ isLastStep ? 'Закончить' : 'Вперед'}}</button>
      </div>
    </div>
  </div>
</div>

<script src="https://unpkg.com/vue@next"></script>
<script src="vue.js"></script>
</body>
</html>
